<script type="text/javascript" src="/scripts/event_choose.js"></script>

<form>
  <ul id="eventChoices" data-stored-choice="<%= event.final_decision_id || 'none' %>" data-event-id="<%= event.id %>">
    <!-- count number of votes for each event_option -->
    <% var countArr = []; %>
    <% event_options.forEach(function(event_option) { %>
      <% var count = 0; %>
      <% event_option.votes.forEach(function(vote) { %>
        <% if (vote.isOK) { count++ } %>
      <% }); %>
      <% event_option["count"] = count; %>
      <% countArr.push(count); %>
    <% }); %>
    
    <!-- display event_options and auto-select max count -->
    <% var maxCount = Math.max.apply(null, countArr); %>
    <% var chosen = 0; %>
    <% event_options.forEach(function(event_option) { %>
      <% if (event_option.count === maxCount && chosen === 0) { %>
        <a class="event-choice btn btn-success btn-block" data-event-option-id="<%= event_option.id %>"><i class="no material-icons right" hidden>clear</i><i class="yes material-icons right">check</i><%= event_option.option %><%= event_option.count %></a>
        <% chosen = 1 %>
      <% } else { %>
        <a class="event-choice btn btn-danger btn-block" data-event-option-id="<%= event_option.id %>"><i class="no material-icons right">clear</i><i class="yes material-icons right" hidden>check</i><%= event_option.option %><%= event_option.count %></a>
      <% } %>
    <% }) %>
  </ul>

  <button id="notify" class="btn btn-primary btn-block">Notify Participants</button>
</form>
