<script type="text/javascript" src="/scripts/event_vote.js"></script>

<form>
   <% event_options.forEach(function(event_option) { %>
  <a class="event-vote btn btn-danger btn-block"><%= event_option.option %><i class="no material-icons right">clear</i><i class="yes material-icons right" hidden>check</i></a>
   <% }); %>
  <button class="btn btn-primary btn-block">Submit Vote</button>
</form>

<section>
    <h1><%= event.event_name %></h1>
    <p><%= event.description %></p>

    <!-- list all options horizontally -->
    <% event_options.forEach(function(event_option) { %>
      <li><%= event_option.option %></li>
      <% }); %>

    <!-- list each user's votes horizontally -->
    <% users.forEach(function(user) { %>
      <p><%= user.username %></p>
      <% user.votes.forEach(function(vote) { %>
        <p><%= vote.isOK %></p>
      <% }); %>
    <% }); %>

    <!-- add one more row for the new user -->
    <!-- todo: if there is a valid user_id cookie, this row should display the user's username and votes -->

  </section>
