<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head', {title: 'Index Page'}); %>
  <script type="text/javascript" src="/scripts/button_list.js"></script>
  <script type="text/javascript" src="/scripts/event_edit.js"></script>
</head>

<body>

  <%- include ./partials/_navbar %>
  <%- include ./partials/_modal %>
  <%- include ./partials/_event_details %>
  <%- include ./partials/_organizer_tabs %>

</body>

</html>
