<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>

  <%- include ./partials/_navbar %>
  <%- include ./partials/_modal %>
  <%- include ./partials/_event_details %>
  <%- include ./partials/_guest_tabs %>

</body>

</html>
